@import url("./fonts/stylesheet.css");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
}
body {
  font-family: "Mont";
  overflow-x: hidden;
  box-sizing: border-box;
}

.container {
  max-width: 1290px;
  padding: 0 20px;
  margin: 0 auto;
}

.navbar-container {
  max-width: 1150px;
  padding: 0 20px;
  margin: 0 auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1;
}
